* {
  box-sizing: border-box;
}

body {
  background-color: blue;
  color: white;
}

@media screen and (max-width:800px) {
  body {
    background-color: red;
  }
}

@media screen and (max-width:400px) {
  body {
    background-color: yellow;
    color: black;
  }
}